<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Tiiu Helinä</key>
	<string>Tiiu\nHelinä</string>
    <key>Håkan Hellström (SWE)</key>
	<string>Håkan Hellström\n(SWE)</string>
    <key>Black Lizard</key>
	<string>Black\nLizard</string>
    <key>Band Of Horses (USA)</key>
	<string>Band Of Horses\n(USA)</string>
    <key>Ricky-Tick Big Band &amp; Julkinen Sana</key>
	<string>Ricky-Tick Big Band\n&amp; Julkinen Sana</string>
    <key>Alice Airbuzz</key>
	<string>Alice\nAirbuzz</string>
    <key>Kivesveto Go Go</key>
	<string>Kivesveto\nGo Go</string>
    <key>Kerkko Koskinen Kollektiivi</key>
	<string>Kerkko Koskinen\nKollektiivi</string>
    <key>Crystal Castles (CAN)</key>
	<string>Crystal Castles\n(CAN)</string>
    <key>Notkea Rotta feat. SMC Lähiörotat</key>
	<string>Notkea Rotta\nfeat. SMC Lähiörotat</string>
    <key>Eevil Stöö, DJ Kridlokk &amp; Koksukoo</key>
    <string>Eevil Stöö,\nDJ Kridlokk\n&amp; Koksukoo</string>
    <key>Von Hertzen Brothers</key>
    <string>Von Hertzen\nBrothers</string>
    <key>Pertti Kurikan Nimipäivät</key>
	<string>Pertti Kurikan\nNimipäivät</string>
    <key>Teflon Brothers</key>
	<string>Teflon\nBrothers</string>
    <key>Nicole Willis &amp; The Soul Investigators</key>
	<string>Nicole Willis &amp;\nThe Soul Investigators</string>
    <key>Minä ja Ville Ahonen</key>
	<string>Minä ja\nVille Ahonen</string>
    <key>Sin Cos Tan</key>
	<string>Sin Cos\nTan</string>
    <key>Satellite Stories</key>
	<string>Satellite\nStories</string>
    <key>Samae Koskisen Korvalääke</key>
	<string>Samae Koskisen\nKorvalääke</string>
</dict>
</plist>
